<div class="row">
    <h1>Middleware practice</h1>
    <!-- operation -->
    <div class="row">
        {{#each logs}}
        <div class="col">{{ this.date }}</div>
        {{/each}}
    </div>
</div>